@charset "utf-8";

/*===============================================
# mixins
=================================================*/

//マップ型変数breakpointsを定義
$breakpoints: ("sm": "screen and (max-width: 376px)", "tab": "screen and (max-width: 768px)", "pc": "screen and (min-width: 769px)");

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: pc) {
    //map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
        //この中をカスタムできる
        @content;
    }
}

// @mixin dark-theme {
//     @media (prefers-color-scheme: dark) {
//         @content;
//     }
// }

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

$ja-font2: YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
$ja-font1: "Noto Sans JP", YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
$eng-font: "Montserrat", serif;

/*===============================================
# color
=================================================*/
$primary-color: #3EA1D1;
$text-color-main: #000;
$text-color-sub: #fff;
$text-color-date: #CECECE;
$bg1: #fff;
$bg2: #F0F0F0;
$bg3: #222222;
$btn-bg: #000000;
$about-bg: rgba(255, 255, 255, 0.95);
$footer-bg: #525252;
$hamburger-bg: rgba(34, 34, 34, 0.6);
$border-color1: #dddddd;
$form-color: #333333;

$dark-text-color1: #ffffff;
$dark-text-color2: #D0D0D0;
$dark-bg: #121212;
$dark-bg2: #525252;
$dark-form-color: #D0D0D0;

/*===============================================
# comonn -全体に共通するスタイル
=================================================*/

@include mq("sm") {
    .is-tab {
        display: none;
    }

    .is-pc {
        display: none;
    } //pcの時だけ表示 hiddenの逆
}


@include mq("tab") {
    .is-sm {
        display: none;
    } //spの時だけ表示 hiddenの逆

    .is-pc {
        display: none;
    } //pcの時だけ表示 hiddenの逆
}


@include mq("pc") {
    .is-sm {
        display: none;
    } //spの時だけ表示 hiddenの逆
    .is-tab {
        display: none;
    }
}


body {
    font-size: 16px;
    color: $text-color-main;
    font-family: $ja-font1;
    line-height: 1.6875;
    transition: all .3s;
    &[data-dark='dark'] {
        background: $dark-bg;
        color: $text-color-sub;
    }
}

.wrapper {
    overflow-x: hidden;
    position: relative;
}

img {
    width: 100%;
}

.section {
    @include mq(pc) {
        padding: 60px 0;
    }


    @include mq(tab) {
        padding: 40px 0;
    }
}

.section-inner {
    max-width: 1180px;
    width: 100%;
    box-sizing: border-box;

    @include mq(pc) {
        margin: 0 auto;
        padding: 0 40px;
    }


    @include mq(tab) {
        padding: 0 30px;
    }


    @include mq(sm) {
        margin: 0 auto;
        padding: 0 15px;
    }
}

.section-ttl {
    display: inline-block;
    font-weight: bold;
    font-size: 32px;
    font-family: $eng-font;
    letter-spacing: 0.068em;
    line-height: 1.21875;
}

.btn {
    width: 160px;
    height: 36px;
    margin-top: 30px;
    text-align: center;

    $this: &;

    &__link {
        display: inline-block;
        width: inherit;
        height: inherit;
        background-color: $btn-bg;
        font-family: $eng-font;
        font-size: 11px;
        font-weight: normal;
        color: $text-color-sub;
        letter-spacing: 0.015em;
        line-height: 36px;
        cursor: pointer;

        &--form {
            font-family: $ja-font1;
            font-weight: bold;
            transition: all .3s;
            transition: all .3s;

            &[data-dark='dark'] {
                background: #00cc00;

            }

            &:disabled {
                background: #A8A8A8;
                cursor: auto;
            }
        }
    }

    &--topics {
        @include mq(pc) {
            margin-left: auto;
        }
    }

    &--form {
        margin: 40px auto 0;
    }
}

.brightness-change {
    $this :&;
    width: 150px;
    position: relative;
    margin: 0 auto 25px;
    text-align: center;
    &__btn{
        display: none;
        &:checked + #{$this}__part{
            background-color: #00CC00;
            &::after{
                left: 0;
                transform: translateX(85px);
                background-color: #eee;
            }
        }
    }

    &__part{
        position: relative;
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 40px;
        background: $dark-bg2;
        border-radius: 50px;
        transition: all .3s;
        cursor: pointer;
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            left: 5px;
            right: auto;
            width: 30px;
            height: 30px;
            background-color: $bg1;
            border-radius: 50%;
            transition: all .3s ease-out;
        }
    }

    &__text{
        color: $text-color-sub;
        font-size: 18px;
        transition:all .3s;
        font-weight: bold;
        &[data-dark='dark']{
            color:$dark-text-color2;
        }
    }
}

/*===============================================
# index.html
================================================*/
/*===============================================
# header
================================================*/

.header {
    max-width: 100%;
    width: 100%;

    // background-color: $bg3;
    display: flex;
    position: absolute;
    z-index: 5;
}

.header-logo {
    display: inline-block;

    @include mq(pc) {
        width: 260px;
        margin-top: 30px;
        margin-left: 58px;
    }


    @include mq(tab) {
        width: 189px;
        margin-top: 33.84px;
        margin-left: 30px;
    }


    @include mq(sm) {
        width: 189px;
        margin-top: 15px;
        margin-left: 19.84px;
    }
}

.hamburger-link {
    width: 61px;
    height: 13px;
    background: $bg3;
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 20;

    @include mq(pc) {
        margin-top: 36px;
        margin-right: 58px;
    }


    @include mq(tab) {
        margin-top: 37px;
        margin-right: 30px;
    }


    @include mq(sm) {
        margin-top: 24px;
        margin-right: 15px;
    }


    &__text {
        font-size: 10px;
        color: $text-color-sub;
        margin-left: 7px;
        font-family: $eng-font;
    }
}

.hamburger-icon {
    &__part {
        display: block;
        background: $bg1;
        width: 22px;
        height: 2px;
        margin-top: 2px;
        border-radius: 5px;
        transition: all .3s;

        &:first-child {
            margin-top: 0;
        }

        &--open1 {
            transform: rotate(-30deg) translateY(5px);
        }

        &--open2 {
            width: 0;
        }

        &--open3 {
            transform: rotate(30deg) translateY(-5px);
        }
    }
}

.gnav {
    // display: none;
    height: 100vh;
    position: absolute;
    z-index: 10;
    right: -520px;
    transition: all .3s;
    background-color: $bg3;

    &--open {
        transform: translateX(-520px);
    }

    @include mq(pc) {
        width: 520px;
    }


    @include mq(tab) {
        width: 520px;
    }


    @include mq(sm) {
        width: 280px;
    }
}

.gnav_container {
    display: block;
    width: 120px;
    margin: 180px auto 0;
    text-align: center;
}

.gnav-icon {
    &__img {
        display: inline-block;
        width: 42.15px;
        text-align: center;
        margin: 0 auto 40px;
    }
}

.gnav-list {
    height: 24px;
    margin-bottom: 30px;
}

.gnav-link {
    line-height: 1;
    font-size: 20px;
    color: $text-color-sub;
    font-family: $eng-font;
}

.hamburger-bg {
    display: none;

    &--open {
        display: block;
        position: fixed;
        z-index: 3;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(34, 34, 34, 0.6);
    }
}

/*===============================================
# mainvisual
================================================*/
.mainvisual {
    height: 100vh;
    position: relative;

    @include mq(pc) {
        background: linear-gradient(to right, $bg1 0%, $bg1 50%, $bg3 50%, $bg3 100%);
    }


    @include mq(tab) {
        background: linear-gradient(to right, $bg1 0%, $bg1 26.8%, $bg3 26.8%, $bg3 100%);
    }
}

.mainvisual-bg {
    background: url(../img/mainvisual.png) center;
    height: 640px;
    position: relative;

    @include mq(pc) {
        max-width: 1100px;
    }


    @include mq(tab) {
        max-width: 600px;
    }


    @include mq(sm) {
        max-width: 287px;
    }


    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: inherit;
        height: inherit;
        background: rgba(0, 0, 0, 0.34);
    }
}

.mainvisual-text {
    display: block;
    height: 324px;
    position: absolute;
    color: $text-color-sub;

    @include mq(pc) {
        width: 292px;
        top: 155px;
        right: 194px;
    }


    @include mq(tab) {
        width: 245px;
        top: 330px;
        right: 80px;
    }


    @include mq(sm) {
        top: 175px;
        right: 20px;
    }


    &__catchphrase {
        font-weight: bold;
        display: inline-block;
        height: 27px;

        @include mq(pc) {
            font-size: 17.36px;
        }


        @include mq(tab) {
            font-size: 16px;
        }
    }

    &__company-name {
        font-family: $eng-font;
        display: inline-block;
        width: 138px;
        height: 27px;

        @include mq(pc) {
            font-size: 18px;
        }


        @include mq(tab) {
            font-size: 18px;
        }
    }

    &__lead {
        font-family: $eng-font;
        font-weight: bold;
        line-height: 1.1944;

        @include mq(pc) {
            font-size: 72px;
        }


        @include mq(tab) {
            font-size: 56px;
        }
    }
}

/*===============================================
# about
================================================*/

.about {
    @include mq(pc) {
        max-width: 1100px;
        min-height: 607px;
        margin: 0 auto;
        margin-top: 80px;
        padding: 110px 10px 110px 0;
        background: url(../img/about-pc.png);
    }


    @include mq(tab) {
        width: 100%;
        min-height: 479px;
        margin-top: 80px;
        background: url(../img/about-tab-sm.png) (center / cover);
        padding: 60px 60px 60px 0;
    }


    @include mq(sm) {
        min-height: 441px;
        margin-top: 78px;
        padding: 50px 0;
    }
}

.about-inner {
    @include mq(tab) {
        padding-right: 0;
    }


    @include mq(sm) {
        padding-right: 15px;
    }
}

.about-body {
    background-color: $about-bg;

    @include mq(pc) {
        max-width: 590px;
        padding: 50px 30px;
    }


    @include mq(tab) {
        max-width: 590px;
        padding: 40px 30px;
    }


    @include mq(sm) {
        max-width: 345px;
        padding: 50px 15px 50px 30px;
    }


    &__ttl {
        font-weight: bold;
        font-family: $eng-font;
        letter-spacing: 0.068em;
        font-size: 30px;
        line-height: 1.2;
    }

    &__text {
        line-height: 2;
        margin-top: 30px;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 14px;

        @include mq(pc) {
            min-height: 152px;
        }


        @include mq(tab) {
            min-height: 144px;
        }


        @include mq(sm) {
            font-size: 12px;
            min-height: 211px;
        }
    }
}

/*===============================================
# company-content
================================================*/
.company-content {
    background-color: $bg2;
}

.company-content-inner {
    max-width: 1180px;
    width: 100%;
    box-sizing: border-box;

    @include mq(pc) {
        margin: 0 auto;
        padding: 0 40px;
        display: flex;
    }


    @include mq(tab) {
        padding: 0 30px;
    }


    @include mq(sm) {
        margin: 0 auto;
        padding: 0 15px;
    }
}

/*===============================================
# work
================================================*/

.work {
    max-width: 520px;
    width: 100%;

    @include mq(pc) {
        margin-right: 60px;
        margin-top: 80px;
    }
}

.work-body {
    &__img {
        margin-top: 30px;

        @include mq(pc) {
            background: url(../img/work-big.png) center (center / cover);
            padding-top: 67.3%;
        }


        @include mq(tab) {
            background: url(../img/work-big.png) center (center / cover);
            padding-top: 67.3%;
        }


        @include mq(sm) {
            background: url(../img/work-sm.png) center (center / cover);
            padding-top: 67.24%;
        }
    }

    &__text {
        display: inline-block;
        font-size: 14.6px;
        line-height: 1;
        margin-top: 27px;
    }
}

/*===============================================
# culture
================================================*/
.culture {
    max-width: 520px;
    width: 100%;

    @include mq(pc) {
        margin-top: 80px;
    }


    @include mq(tab) {
        margin-top: 20px;
        padding-top: 0;
    }


    @include mq(sm) {
        padding-top: 0;
        margin-top: 0;
    }
}

.culture-body {
    &__img {
        margin-top: 30px;

        @include mq(pc) {
            background: url(../img/culture-big.png) center (center / cover);
            padding-top: 67.3%;
        }


        @include mq(tab) {
            background: url(../img/culture-big.png) center (center / cover);
            padding-top: 67.3%;
        }


        @include mq(sm) {
            background: url(../img/culture-sm.png) center (center / cover);
            padding-top: 67.24%;
        }
    }

    &__text {
        display: inline-block;
        font-size: 14.6px;
        line-height: 1;
        margin-top: 27px;
    }
}

/*===============================================
# topicks
================================================*/

.topics-body {
    max-width: 700px;
    width: 100%;
    margin-left: auto;
}

.article-body {
    display: block;
    padding: 29px 0 10px 0;
    border-bottom: 1px solid $border-color1;

    &__date {
        font-size: 10px;
        color: $text-color-date;
        font-family: $eng-font;
        font-weight: bold;
        letter-spacing: 0.015em;
        line-height: 1;
    }

    &__ttl {
        font-size: 14px;
        font-weight: bold;
        color: $text-color-main;
        line-height: 1.4;

        @include mq(sm) {
            font-size: 12px;
        }
    }
}

/*===============================================
# contact-home
================================================*/
.contact-home-container {
    @include mq(pc) {
        display: flex;
        align-items: center;
    }


    @include mq(tab) {}


    @include mq(sm) {}


    &__img {
        max-width: 580px;
        width: 100%;
        min-height: 390px;
        height: 100%;
        background: url(../img/contact-home-big.png) center (center / cover);
        order: 1;
    }
}

.contact-home-body {
    margin-right: 80px;
    width: 100%;

    @include mq(pc) {
        max-width: 440px;
    }


    @include mq(tab) {
        margin-top: 30px;
        max-width: 510px;
    }


    @include mq(sm) {}


    &__text {
        font-size: 14px;
        margin-top: 30px;
        line-height: 2;
    }
}

/*===============================================
# footer
================================================*/
.footer {
    background-color: $footer-bg;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.copyright {
    font-family: Montserrat Medium;
    font-size: 8px;
    font-weight: normal;
    letter-spacing: .015em;
    color: $text-color-sub;
}

/*===============================================
# about.html
================================================*/

.top-page {
    position: relative;

    @include mq(pc) {
        background: linear-gradient(to right, $bg1 0%, $bg1 50%, $bg3 50%, $bg3 100%);
        height: 464px;
        transition: all .3s;
        &[data-dark='dark'] {
            background: linear-gradient(to right, $dark-bg2 0%, $dark-bg2 50%, $dark-bg 50%, $dark-bg 100%);
        }
    }


    @include mq(tab) {
        background: linear-gradient(to right, $bg1 0%, $bg1 26.8%, $bg3 26.8%, $bg3 100%);
        height: 615px;
        transition: all .3s;

        &[data-dark='dark'] {
            background: linear-gradient(to right, $dark-bg2 0%, $dark-bg2 26.8%, $dark-bg 26.8%, $dark-bg 100%);
        }
    }


    @include mq(sm) {
        height: 449px;
    }
}

.top-page-bg {
    position: relative;

    @include mq(pc) {
        max-width: 1100px;
        background: url(../img/about-top-page-big.png) top center;
        height: 387px;
    }


    @include mq(tab) {
        max-width: 587px;
        height: 529px;
        background: url(../img/about-top-page-sm.png) top center;
    }


    @include mq(sm) {
        max-width: 287px;
        height: 387px;
    }


    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: inherit;
        height: inherit;
        background: rgba(0, 0, 0, 0.34);
    }
}

.top-page-text {
    display: block;
    position: absolute;
    color: $text-color-sub;

    @include mq(pc) {
        top: 156px;
        right: 170px;
    }


    @include mq(tab) {
        top: 220px;
        right: 98px;
        margin-left: 10px;
    }


    @include mq(sm) {
        top: 149px;
        right: 29px;
    }


    &__en-ttl {
        font-family: $eng-font;
        letter-spacing: 0.063em;

        @include mq(pc) {
            font-size: 72px;
            line-height: 1.1944;
        }


        @include mq(tab) {
            font-size: 52px;
        }
    }

    &__ja-ttl {
        letter-spacing: 0.005em;

        @include mq(pc) {
            font-size: 18px;
        }


        @include mq(tab) {
            font-size: 16px;
        }
    }
}

/*===============================================
# vision
================================================*/
.vision {
    margin-top: 20px;
}

.vision-body {
    max-width: 415px;
    margin: 0 auto;

    &__subttl {
        font-size: 24px;
        margin-top: 25px;
        letter-spacing: .005em;
    }

    &__text {
        font-size: 14px;
        margin-top: 32px;
        line-height: 2;
    }
}

/*===============================================
# ceo
================================================*/
.ceo {
    width: 100%;
    position: relative;

    @include mq(pc) {
        max-width: 1100px;
        height: 1038px;
        margin: 0 auto;
        margin-top: 120px;
    }


    @include mq(tab) {
        height: 903px;
        margin-left: 15px;
    }


    @include mq(sm) {
        margin-left: 0;
    }
}

.ceo-icon {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: -10px;

    @include mq(pc) {
        // left: 170px;
        max-width: 420px;
        height: 282px;
    }


    @include mq(tab) {
        left: 30px;
        max-width: 320px;
    }


    @include mq(sm) {
        left: 0;
        top: 0;
    }
}

.ceo-body {
    position: absolute;
    width: 100%;
    background-color: $bg2;

    @include mq(pc) {
        width: 770px;
        top: 144px;
        right: 0px;
        padding: 120px 185px 90px 185px;
    }


    @include mq(tab) {
        top: 131px;
        right: 30px;
        max-width: 494px;
        padding: 109px 40px 78px;
    }


    @include mq(sm) {
        position: static;
        margin: 0 auto;
        margin-top: 69px;
        padding: 126px 29px 80px 28px;
    }


    &__text {
        margin-top: 30px;

        @include mq(pc) {
            line-height: 2;
        }


        @include mq(tab) {
            line-height: 1.75;
        }


        @include mq(sm) {
            font-size: 14px;
            line-height: 2;

            // display: inline-block;
            height: 525px;
        }
    }
}

/*===============================================
# company
================================================*/

.company-body {
    margin-top: 30px;
    border-top: 1px $border-color1 solid;
}

.history {
    @include mq(pc) {
        padding-left: 30px;
    }


    @include mq(tab) {
        padding-left: 30px;
    }


    @include mq(sm) {
        padding-left: 0;
    }
}

.history-item {
    max-width: 800px;
    height: 56px;
    width: 100%;
    border-bottom: 1px $border-color1 solid;
    display: flex;
    margin-left: auto;
    align-items: center;

    @include mq(pc) {}


    @include mq(tab) {}


    @include mq(sm) {
        height: 60px;
    }


    &__ttl {
        display: inline-block;
        flex: 0 0 144px;
        letter-spacing: 0.004em;
        line-height: 1;

        @include mq(pc) {
            font-weight: bold;
        }


        @include mq(tab) {
            font-weight: bold;
        }


        @include mq(sm) {
            flex: 0 0 163px;
            font-weight: normal;
            font-size: 14px;
        }
    }

    &__description {
        @include mq(sm) {
            font-size: 14px;
        }
    }
}

.google-map {
    position: relative;
    width: 100%;
    margin-top: 40px;

    @include mq(pc) {
        padding-top: 32.727%;
    }


    @include mq(tab) {
        padding-top: 32.485%;
    }


    @include mq(sm) {
        padding-top: 136.231%;
    }


    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/*===============================================
# contact.html
================================================*/
/*===============================================
# contact
================================================*/
.contact {
    @include mq(pc) {
        margin: 120px 0;
    }


    @include mq(tab) {
        margin: 135px 0 197px 0;
    }


    @include mq(sm) {
        margin: 80px 0;
    }
}

.contact-body {
    margin: 0 auto;

    @include mq(pc) {
        max-width: 700px;
        width: 100%;
    }


    @include mq(tab) {
        padding: 0 50px;
    }


    @include mq(sm) {
        padding: 0 15px;
    }


    &__text {
        display: inline-block;

        @include mq(pc) {
            line-height: 1.5;
            min-height: 53px;
            margin-bottom: 10px;
        }


        @include mq(tab) {
            min-height: 43px;
            line-height: 1.5;
            margin-bottom: 20px;
        }


        @include mq(sm) {
            min-height: 90px;
            line-height: 1.7142;
            font-size: 11.9px;
            margin-bottom: 20px;
            font-family: $ja-font2;
        }


        transition: all .3s;

        &[data-dark='dark'] {
            color: $dark-text-color2;
        }
    }
}

.form-item {
    @include mq(pc) {
        margin-top: 46px;
    }


    @include mq(tab) {
        margin-top: 40px;
    }


    @include mq(sm) {}


    &:first-child {
        margin-top: 0;
    }

    &__term {
        margin-bottom: 10px;

        &--part {
            display: inline-block;
            width: 34px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            background-color: $form-color;
            color: $text-color-sub;
            font-size: 12px;
            letter-spacing: .004em;
            margin-left: 20px;
            transition: all .3s;

            &[data-dark='dark'] {
                border: solid 1px $dark-form-color;
            }
        }

        &--privacy {
            font-family: $eng-font;
            letter-spacing: .004em;
        }
    }
}

.form-item-text, .form-item-email, .form-item-tell {
    &__input {
        width: 100%;
        height: 41px;
        border: 1px solid $form-color;
        padding-left: .8em;
        transition: all .3s;

        &[data-dark='dark'] {
            border-color: $dark-form-color;
            background-color: $dark-bg2;
            color: $text-color-sub;
        }
    }

    &__error-blank {
        display: none;
        position: relative;

        // display: block;
        width: 200px;
        padding: 2px 10px;
        color: $text-color-sub;
        background-color: $form-color;
        font-weight: bold;
        font-size: 14px;
        margin-top: 10px;

        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 0;
            height: 0;
            top: -10px;
            border-style: solid;
            border-width: 0 15px 15px 15px;
            border-color: transparent transparent $form-color transparent;
            line-height: 0px;
            _border-color: #000000 #000000 $form-color #000000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }
    }
}

.form-item-radio {
    display: flex;
    max-width: 423px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10px;

    @include mq(pc) {}


    @include mq(tab) {}


    @include mq(sm) {
        flex-direction: column;
    }
}

.radio-container {
    display: flex;
    align-items: center;
    margin-top: 3px;

    $this: &;

    @include mq(sm) {
        margin-top: 14px;

        &:first-child {
            margin-top: 3px;
        }
    }


    &__input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;

        &:checked {
            & + #{$this}__part {
                &::after {
                    content: "";
                    margin: 3px;
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    background: $form-color;
                    border-radius: 50%;
                }
            }
        }
    }

    &__part {
        display: inline-flex;
        width: 20px;
        height: 20px;
        border: 1px solid $form-color;
        border-radius: 50%;
        vertical-align: sub;
        cursor: pointer;
        transition: all .3s;

        &[data-dark='dark'] {
            border-color: $dark-form-color;
            background-color: $dark-bg2;

            &::after {
                background: $dark-text-color1 !important;
            }
        }
    }

    &__text {
        font-family: $ja-font2;
        margin: 0 10px;
        display: inline-block;
        cursor: pointer;
        transition: all .3s;

        &[data-dark='dark'] {
            color: $dark-text-color2;
        }
    }

    cursor: pointer;
}

.form-item-content {
    &__input {
        max-width: 700px;
        width: 100%;
        height: 212px;
        resize: vertical;
        padding: .8em;
        transition: all .3s;

        &[data-dark='dark'] {
            background: $dark-bg2;
            border: 1px solid $dark-form-color;
            color: $dark-text-color1;
        }
    }

    &__error-blank {
        display: none;
        position: relative;

        // display: block;
        width: 200px;
        padding: 2px 10px;
        color: $text-color-sub;
        background-color: $form-color;
        font-weight: bold;
        font-size: 14px;
        margin-top: 10px;

        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 0;
            height: 0;
            top: -10px;
            border-style: solid;
            border-width: 0 15px 15px 15px;
            border-color: transparent transparent $form-color transparent;
            line-height: 0px;
            _border-color: #000000 #000000 $form-color #000000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }
    }
}

.form-item-check {
    margin-top: 42px;

    @include mq(pc) {
        text-align: center;
    }


    @include mq(tab) {
        text-align: center;
    }


    @include mq(sm) {
        text-align: left;
        display: inline-block;
    }


    &__text {
        @include mq(pc) {}


        @include mq(tab) {}


        @include mq(sm) {
            font-size: 12px;
            text-align: left;
            font-family: $ja-font2;
        }
    }

    &__error-blank {
        display: none;
        position: relative;

        // display: block;
        width: 200px;
        padding: 2px 10px;
        color: $text-color-sub;
        background-color: $form-color;
        font-weight: bold;
        font-size: 14px;
        margin: 10px auto 0 auto;

        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 0;
            height: 0;
            top: -10px;
            border-style: solid;
            border-width: 0 15px 15px 15px;
            border-color: transparent transparent $form-color transparent;
            line-height: 0px;
            _border-color: #000000 #000000 $form-color #000000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }
    }
}

.privacy-content {
    display: block;
    max-width: 700px;
    width: 100%;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid $form-color;

    @include mq(pc) {
        height: 252px;
        line-height: 1.5;
    }


    @include mq(tab) {
        height: 226px;
        line-height: 1.5;
        font-family: $ja-font2;
    }


    @include mq(sm) {
        font-size: 14px;
        line-height: 1.714;
    }


    &[data-dark="dark"] {
        color: $dark-text-color1;
        background-color: $dark-bg2;
        border: 1px solid $dark-form-color;
    }
}

.form-item-check {
    position: relative;
    cursor: pointer;

    $this: &;

    &__input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        visibility: hidden;

        &:checked + #{$this}__part {
            background: $form-color;

            &::after {
                transform: rotate(45deg);
                border-color: $text-color-sub;
            }
        }
    }

    &__part {
        display: inline-flex;
        justify-self: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border: 1px solid $form-color;
        transition: all .3s;

        &::after {
            content: "";
            display: inline-block;
            width: 3px;
            height: 10px;
            margin-left: 6px;
            border: 3px solid transparent;
            border-top: transparent;
            border-left: transparent;
            transition: all .3s .1s;
        }

        &[data-dark='dark'] {
            border-color: $dark-form-color;
            background: $dark-bg2;
        }
    }

    &__text {
        margin-left: 10px;
        cursor: pointer;
    }
}

// body {
//   background-color: #000;
// //   color: #fff;
// }

// .light-theme {
//     background: #fff;
//     color: #333;
// }

// .dark-theme {
//     background: #000;
//     color: #ddd;
// }
