@charset "UTF-8";
/*===============================================
# mixins
=================================================*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
/*===============================================
# color
=================================================*/
/*===============================================
# comonn -全体に共通するスタイル
=================================================*/
@media screen and (max-width: 376px) {
  .is-tab {
    display: none;
  }
  .is-pc {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .is-sm {
    display: none;
  }
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .is-sm {
    display: none;
  }
  .is-tab {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans JP", YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
  line-height: 1.6875;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body[data-dark='dark'] {
  background: #121212;
  color: #fff;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
  height: inherit;
}

.wrapper-on {
  overflow-y: hidden;
  height: 100vh;
}

img {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .section {
    padding: 60px 0;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 40px 0;
  }
}

.section-inner {
  max-width: 1180px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .section-inner {
    margin: 0 auto;
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .section-inner {
    padding: 0 30px;
  }
}

@media screen and (max-width: 376px) {
  .section-inner {
    margin: 0 auto;
    padding: 0 15px;
  }
}

.section-ttl {
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
  font-family: "Montserrat", serif;
  letter-spacing: 0.068em;
  line-height: 1.21875;
}

.btn {
  width: 160px;
  height: 36px;
  margin-top: 30px;
  text-align: center;
}

.btn__link {
  display: inline-block;
  width: inherit;
  height: inherit;
  background-color: #000000;
  font-family: "Montserrat", serif;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
  letter-spacing: 0.015em;
  line-height: 36px;
  cursor: pointer;
}

.btn__link--form {
  font-family: "Noto Sans JP", YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
  font-weight: bold;
  -webkit-transition: all .3s;
  transition: all .3s;
  transition: all .3s;
}

.btn__link--form[data-dark='dark'] {
  background: #00cc00;
}

.btn__link--form:disabled {
  background: #A8A8A8;
  cursor: auto;
}

@media screen and (min-width: 769px) {
  .btn--topics {
    margin-left: auto;
  }
}

.btn--form {
  margin: 40px auto 0;
}

.brightness-change {
  width: 150px;
  position: relative;
  margin: 0 auto 25px;
  text-align: center;
}

.brightness-change__btn {
  display: none;
}

.brightness-change__btn:checked + .brightness-change__part {
  background-color: #00CC00;
}

.brightness-change__btn:checked + .brightness-change__part::after {
  left: 0;
  -webkit-transform: translateX(85px);
          transform: translateX(85px);
  background-color: #eee;
}

.brightness-change__part {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 40px;
  background: #525252;
  border-radius: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.brightness-change__part::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  right: auto;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.brightness-change__text {
  color: #fff;
  font-size: 18px;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-weight: bold;
}

.brightness-change__text[data-dark='dark'] {
  color: #D0D0D0;
}

/*===============================================
# index.html
================================================*/
/*===============================================
# header
================================================*/
.header {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 5;
}

.header-logo {
  display: inline-block;
}

@media screen and (min-width: 769px) {
  .header-logo {
    width: 260px;
    margin-top: 30px;
    margin-left: 58px;
  }
}

@media screen and (max-width: 768px) {
  .header-logo {
    width: 189px;
    margin-top: 33.84px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 376px) {
  .header-logo {
    width: 189px;
    margin-top: 15px;
    margin-left: 19.84px;
  }
}

.hamburger-link {
  width: 61px;
  height: 13px;
  background: #222222;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

@media screen and (min-width: 769px) {
  .hamburger-link {
    margin-top: 36px;
    margin-right: 58px;
  }
}

@media screen and (max-width: 768px) {
  .hamburger-link {
    margin-top: 37px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 376px) {
  .hamburger-link {
    margin-top: 24px;
    margin-right: 15px;
  }
}

.hamburger-link__text {
  font-size: 10px;
  color: #fff;
  margin-left: 7px;
  font-family: "Montserrat", serif;
}

.hamburger-icon__part {
  display: block;
  background: #fff;
  width: 22px;
  height: 2px;
  margin-top: 2px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hamburger-icon__part:first-child {
  margin-top: 0;
}

.hamburger-icon__part--open1 {
  -webkit-transform: rotate(-30deg) translateY(5px);
          transform: rotate(-30deg) translateY(5px);
}

.hamburger-icon__part--open2 {
  width: 0;
}

.hamburger-icon__part--open3 {
  -webkit-transform: rotate(30deg) translateY(-5px);
          transform: rotate(30deg) translateY(-5px);
}

.gnav {
  height: 100vh;
  position: absolute;
  z-index: 10;
  right: -520px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #222222;
}

.gnav--open {
  -webkit-transform: translateX(-520px);
          transform: translateX(-520px);
}

@media screen and (min-width: 769px) {
  .gnav {
    width: 520px;
  }
}

@media screen and (max-width: 768px) {
  .gnav {
    width: 520px;
  }
}

@media screen and (max-width: 376px) {
  .gnav {
    width: 280px;
  }
}

.gnav_container {
  display: block;
  width: 120px;
  margin: 180px auto 0;
  text-align: center;
}

.gnav-icon__img {
  display: inline-block;
  width: 42.15px;
  text-align: center;
  margin: 0 auto 40px;
}

.gnav-list {
  height: 24px;
  margin-bottom: 30px;
}

.gnav-link {
  line-height: 1;
  font-size: 20px;
  color: #fff;
  font-family: "Montserrat", serif;
}

.hamburger-bg {
  display: none;
}

.hamburger-bg--open {
  display: block;
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(34, 34, 34, 0.6);
}

/*===============================================
# mainvisual
================================================*/
.mainvisual {
  height: 100vh;
  position: relative;
}

@media screen and (min-width: 769px) {
  .mainvisual {
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #222222), to(#222222));
    background: linear-gradient(to right, #fff 0%, #fff 50%, #222222 50%, #222222 100%);
  }
}

@media screen and (max-width: 768px) {
  .mainvisual {
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(26.8%, #fff), color-stop(26.8%, #222222), to(#222222));
    background: linear-gradient(to right, #fff 0%, #fff 26.8%, #222222 26.8%, #222222 100%);
  }
}

.mainvisual-bg {
  background: url(../img/mainvisual.png) center;
  height: 640px;
  position: relative;
}

@media screen and (min-width: 769px) {
  .mainvisual-bg {
    max-width: 1100px;
  }
}

@media screen and (max-width: 768px) {
  .mainvisual-bg {
    max-width: 600px;
  }
}

@media screen and (max-width: 376px) {
  .mainvisual-bg {
    max-width: 287px;
  }
}

.mainvisual-bg::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.34);
}

.mainvisual-text {
  display: block;
  height: 324px;
  position: absolute;
  color: #fff;
}

@media screen and (min-width: 769px) {
  .mainvisual-text {
    width: 292px;
    top: 155px;
    right: 194px;
  }
}

@media screen and (max-width: 768px) {
  .mainvisual-text {
    width: 245px;
    top: 330px;
    right: 80px;
  }
}

@media screen and (max-width: 376px) {
  .mainvisual-text {
    top: 175px;
    right: 20px;
  }
}

.mainvisual-text__catchphrase {
  font-weight: bold;
  display: inline-block;
  height: 27px;
}

@media screen and (min-width: 769px) {
  .mainvisual-text__catchphrase {
    font-size: 17.36px;
  }
}

@media screen and (max-width: 768px) {
  .mainvisual-text__catchphrase {
    font-size: 16px;
  }
}

.mainvisual-text__company-name {
  font-family: "Montserrat", serif;
  display: inline-block;
  width: 138px;
  height: 27px;
}

@media screen and (min-width: 769px) {
  .mainvisual-text__company-name {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .mainvisual-text__company-name {
    font-size: 18px;
  }
}

.mainvisual-text__lead {
  font-family: "Montserrat", serif;
  font-weight: bold;
  line-height: 1.1944;
}

@media screen and (min-width: 769px) {
  .mainvisual-text__lead {
    font-size: 72px;
  }
}

@media screen and (max-width: 768px) {
  .mainvisual-text__lead {
    font-size: 56px;
  }
}

/*===============================================
# about
================================================*/
@media screen and (min-width: 769px) {
  .about {
    max-width: 1100px;
    min-height: 607px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 110px 10px 110px 0;
    background: url(../img/about-pc.png);
  }
}

@media screen and (max-width: 768px) {
  .about {
    width: 100%;
    min-height: 479px;
    margin-top: 80px;
    background: url(../img/about-tab-sm.png) center/cover;
    padding: 60px 60px 60px 0;
  }
}

@media screen and (max-width: 376px) {
  .about {
    min-height: 441px;
    margin-top: 78px;
    padding: 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .about-inner {
    padding-right: 0;
  }
}

@media screen and (max-width: 376px) {
  .about-inner {
    padding-right: 15px;
  }
}

.about-body {
  background-color: rgba(255, 255, 255, 0.95);
}

@media screen and (min-width: 769px) {
  .about-body {
    max-width: 590px;
    padding: 50px 30px;
  }
}

@media screen and (max-width: 768px) {
  .about-body {
    max-width: 590px;
    padding: 40px 30px;
  }
}

@media screen and (max-width: 376px) {
  .about-body {
    max-width: 345px;
    padding: 50px 15px 50px 30px;
  }
}

.about-body__ttl {
  font-weight: bold;
  font-family: "Montserrat", serif;
  letter-spacing: 0.068em;
  font-size: 30px;
  line-height: 1.2;
}

.about-body__text {
  line-height: 2;
  margin-top: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 769px) {
  .about-body__text {
    min-height: 152px;
  }
}

@media screen and (max-width: 768px) {
  .about-body__text {
    min-height: 144px;
  }
}

@media screen and (max-width: 376px) {
  .about-body__text {
    font-size: 12px;
    min-height: 211px;
  }
}

/*===============================================
# company-content
================================================*/
.company-content {
  background-color: #F0F0F0;
}

.company-content-inner {
  max-width: 1180px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .company-content-inner {
    margin: 0 auto;
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .company-content-inner {
    padding: 0 30px;
  }
}

@media screen and (max-width: 376px) {
  .company-content-inner {
    margin: 0 auto;
    padding: 0 15px;
  }
}

/*===============================================
# work
================================================*/
.work {
  max-width: 520px;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .work {
    margin-right: 60px;
    margin-top: 80px;
  }
}

.work-body__img {
  margin-top: 30px;
}

@media screen and (min-width: 769px) {
  .work-body__img {
    background: url(../img/work-big.png) center center/cover;
    padding-top: 67.3%;
  }
}

@media screen and (max-width: 768px) {
  .work-body__img {
    background: url(../img/work-big.png) center center/cover;
    padding-top: 67.3%;
  }
}

@media screen and (max-width: 376px) {
  .work-body__img {
    background: url(../img/work-sm.png) center center/cover;
    padding-top: 67.24%;
  }
}

.work-body__text {
  display: inline-block;
  font-size: 14.6px;
  line-height: 1;
  margin-top: 27px;
}

/*===============================================
# culture
================================================*/
.culture {
  max-width: 520px;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .culture {
    margin-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  .culture {
    margin-top: 20px;
    padding-top: 0;
  }
}

@media screen and (max-width: 376px) {
  .culture {
    padding-top: 0;
    margin-top: 0;
  }
}

.culture-body__img {
  margin-top: 30px;
}

@media screen and (min-width: 769px) {
  .culture-body__img {
    background: url(../img/culture-big.png) center center/cover;
    padding-top: 67.3%;
  }
}

@media screen and (max-width: 768px) {
  .culture-body__img {
    background: url(../img/culture-big.png) center center/cover;
    padding-top: 67.3%;
  }
}

@media screen and (max-width: 376px) {
  .culture-body__img {
    background: url(../img/culture-sm.png) center center/cover;
    padding-top: 67.24%;
  }
}

.culture-body__text {
  display: inline-block;
  font-size: 14.6px;
  line-height: 1;
  margin-top: 27px;
}

/*===============================================
# topicks
================================================*/
.topics-body {
  max-width: 700px;
  width: 100%;
  margin-left: auto;
}

.article-body {
  display: block;
  padding: 29px 0 10px 0;
  border-bottom: 1px solid #dddddd;
}

.article-body__date {
  font-size: 10px;
  color: #CECECE;
  font-family: "Montserrat", serif;
  font-weight: bold;
  letter-spacing: 0.015em;
  line-height: 1;
}

.article-body__ttl {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  line-height: 1.4;
}

@media screen and (max-width: 376px) {
  .article-body__ttl {
    font-size: 12px;
  }
}

/*===============================================
# contact-home
================================================*/
@media screen and (min-width: 769px) {
  .contact-home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-home-container__img {
  max-width: 580px;
  width: 100%;
  min-height: 390px;
  height: 100%;
  background: url(../img/contact-home-big.png) center center/cover;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.contact-home-body {
  margin-right: 80px;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .contact-home-body {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .contact-home-body {
    margin-top: 30px;
    max-width: 510px;
  }
}

.contact-home-body__text {
  font-size: 14px;
  margin-top: 30px;
  line-height: 2;
}

/*===============================================
# footer
================================================*/
.footer {
  background-color: #525252;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.copyright {
  font-family: Montserrat Medium;
  font-size: 8px;
  font-weight: normal;
  letter-spacing: .015em;
  color: #fff;
}

/*===============================================
# about.html
================================================*/
.top-page {
  position: relative;
}

@media screen and (min-width: 769px) {
  .top-page {
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #222222), to(#222222));
    background: linear-gradient(to right, #fff 0%, #fff 50%, #222222 50%, #222222 100%);
    height: 464px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .top-page[data-dark='dark'] {
    background: -webkit-gradient(linear, left top, right top, from(#525252), color-stop(50%, #525252), color-stop(50%, #121212), to(#121212));
    background: linear-gradient(to right, #525252 0%, #525252 50%, #121212 50%, #121212 100%);
  }
}

@media screen and (max-width: 768px) {
  .top-page {
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #222222), to(#222222));
    background: linear-gradient(to right, #fff 0%, #fff 50%, #222222 50%, #222222 100%);
    height: 615px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .top-page[data-dark='dark'] {
    background: -webkit-gradient(linear, left top, right top, from(#525252), color-stop(50%, #525252), color-stop(50%, #121212), to(#121212));
    background: linear-gradient(to right, #525252 0%, #525252 50%, #121212 50%, #121212 100%);
  }
}

@media screen and (max-width: 376px) {
  .top-page {
    height: 449px;
  }
}

.top-page-bg {
  position: relative;
}

@media screen and (min-width: 769px) {
  .top-page-bg--about {
    background: url(../img/about-top-page-big.png) center 45%/cover;
  }
}

@media screen and (max-width: 768px) {
  .top-page-bg--about {
    background: url(../img/about-top-page-sm.png) center 45%/cover;
  }
}

@media screen and (min-width: 769px) {
  .top-page-bg--contact {
    background: url(../img/contact-top-page-big.png) center 45%/cover;
  }
}

@media screen and (max-width: 768px) {
  .top-page-bg--contact {
    background: url(../img/contact-top-page-sm.png) center 45%;
  }
}

@media screen and (min-width: 769px) {
  .top-page-bg {
    max-width: 1100px;
    height: 387px;
  }
}

@media screen and (max-width: 768px) {
  .top-page-bg {
    max-width: 587px;
    height: 529px;
  }
}

@media screen and (max-width: 376px) {
  .top-page-bg {
    max-width: 287px;
    height: 387px;
  }
}

.top-page-bg::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.34);
}

.top-page-text {
  display: block;
  position: absolute;
  color: #fff;
}

@media screen and (min-width: 769px) {
  .top-page-text--about {
    top: 156px;
    right: 170px;
  }
}

@media screen and (max-width: 768px) {
  .top-page-text--about {
    top: 220px;
    right: 98px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 376px) {
  .top-page-text--about {
    top: 149px;
    right: 29px;
  }
}

@media screen and (min-width: 769px) {
  .top-page-text--contact {
    top: 156px;
    right: 150px;
  }
}

@media screen and (max-width: 768px) {
  .top-page-text--contact {
    top: 132px;
    right: 50px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 376px) {
  .top-page-text--contact {
    top: 129px;
    right: 21px;
  }
}

.top-page-text__en-ttl {
  font-family: "Montserrat", serif;
  letter-spacing: 0.063em;
}

@media screen and (min-width: 769px) {
  .top-page-text__en-ttl {
    font-size: 72px;
    line-height: 1.1944;
  }
}

@media screen and (max-width: 768px) {
  .top-page-text__en-ttl {
    font-size: 52px;
  }
}

.top-page-text__ja-ttl {
  letter-spacing: 0.005em;
}

@media screen and (min-width: 769px) {
  .top-page-text__ja-ttl {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .top-page-text__ja-ttl {
    font-size: 16px;
  }
}

/*===============================================
# vision
================================================*/
.vision {
  margin-top: 20px;
}

.vision-body {
  max-width: 415px;
  margin: 0 auto;
}

.vision-body__subttl {
  font-size: 24px;
  margin-top: 25px;
  letter-spacing: .005em;
}

.vision-body__text {
  font-size: 14px;
  margin-top: 32px;
  line-height: 2;
}

/*===============================================
# ceo
================================================*/
.ceo {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 769px) {
  .ceo {
    max-width: 1100px;
    height: 1038px;
    margin: 0 auto;
    margin-top: 120px;
  }
}

@media screen and (max-width: 768px) {
  .ceo {
    height: 903px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 376px) {
  .ceo {
    margin-left: 0;
  }
}

.ceo-icon {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: -10px;
}

@media screen and (min-width: 769px) {
  .ceo-icon {
    max-width: 420px;
    height: 282px;
  }
}

@media screen and (max-width: 768px) {
  .ceo-icon {
    left: 30px;
    max-width: 320px;
  }
}

@media screen and (max-width: 376px) {
  .ceo-icon {
    left: 0;
    top: 0;
  }
}

.ceo-body {
  position: absolute;
  width: 100%;
  background-color: #F0F0F0;
}

@media screen and (min-width: 769px) {
  .ceo-body {
    width: 770px;
    top: 144px;
    right: 0px;
    padding: 120px 185px 90px 185px;
  }
}

@media screen and (max-width: 768px) {
  .ceo-body {
    top: 131px;
    right: 30px;
    max-width: 494px;
    padding: 109px 40px 78px;
  }
}

@media screen and (max-width: 376px) {
  .ceo-body {
    position: static;
    margin: 0 auto;
    margin-top: 69px;
    padding: 126px 29px 80px 28px;
  }
}

.ceo-body__text {
  margin-top: 30px;
}

@media screen and (min-width: 769px) {
  .ceo-body__text {
    line-height: 2;
  }
}

@media screen and (max-width: 768px) {
  .ceo-body__text {
    line-height: 1.75;
  }
}

@media screen and (max-width: 376px) {
  .ceo-body__text {
    font-size: 14px;
    line-height: 2;
    height: 525px;
  }
}

/*===============================================
# company
================================================*/
.company-body {
  margin-top: 30px;
  border-top: 1px #dddddd solid;
}

@media screen and (min-width: 769px) {
  .history {
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .history {
    padding-left: 30px;
  }
}

@media screen and (max-width: 376px) {
  .history {
    padding-left: 0;
  }
}

.history-item {
  max-width: 800px;
  height: 56px;
  width: 100%;
  border-bottom: 1px #dddddd solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 376px) {
  .history-item {
    height: 60px;
  }
}

.history-item__ttl {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 144px;
          flex: 0 0 144px;
  letter-spacing: 0.004em;
  line-height: 1;
}

@media screen and (min-width: 769px) {
  .history-item__ttl {
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .history-item__ttl {
    font-weight: bold;
  }
}

@media screen and (max-width: 376px) {
  .history-item__ttl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 163px;
            flex: 0 0 163px;
    font-weight: normal;
    font-size: 14px;
  }
}

@media screen and (max-width: 376px) {
  .history-item__description {
    font-size: 14px;
  }
}

.google-map {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

@media screen and (min-width: 769px) {
  .google-map {
    padding-top: 32.727%;
  }
}

@media screen and (max-width: 768px) {
  .google-map {
    padding-top: 32.485%;
  }
}

@media screen and (max-width: 376px) {
  .google-map {
    padding-top: 136.231%;
  }
}

.google-map__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*===============================================
# contact.html
================================================*/
/*===============================================
# contact
================================================*/
@media screen and (min-width: 769px) {
  .contact {
    margin: 120px 0;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    margin: 135px 0 197px 0;
  }
}

@media screen and (max-width: 376px) {
  .contact {
    margin: 80px 0;
  }
}

.contact-body {
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .contact-body {
    max-width: 700px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contact-body {
    padding: 0 50px;
  }
}

@media screen and (max-width: 376px) {
  .contact-body {
    padding: 0 15px;
  }
}

.contact-body__text {
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (min-width: 769px) {
  .contact-body__text {
    line-height: 1.5;
    min-height: 53px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .contact-body__text {
    min-height: 43px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 376px) {
  .contact-body__text {
    min-height: 90px;
    line-height: 1.7142;
    font-size: 11.9px;
    margin-bottom: 20px;
    font-family: YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
  }
}

.contact-body__text[data-dark='dark'] {
  color: #D0D0D0;
}

@media screen and (min-width: 769px) {
  .form-item {
    margin-top: 46px;
  }
}

@media screen and (max-width: 768px) {
  .form-item {
    margin-top: 40px;
  }
}

.form-item:first-child {
  margin-top: 0;
}

.form-item__term {
  margin-bottom: 10px;
}

.form-item__term--part {
  display: inline-block;
  width: 34px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background-color: #333333;
  color: #fff;
  font-size: 12px;
  letter-spacing: .004em;
  margin-left: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form-item__term--part[data-dark='dark'] {
  border: solid 1px #D0D0D0;
}

.form-item__term--privacy {
  font-family: "Montserrat", serif;
  letter-spacing: .004em;
}

.form-item-text__input, .form-item-email__input, .form-item-tell__input {
  width: 100%;
  height: 41px;
  border: 1px solid #333333;
  padding-left: .8em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form-item-text__input[data-dark='dark'], .form-item-email__input[data-dark='dark'], .form-item-tell__input[data-dark='dark'] {
  border-color: #D0D0D0;
  background-color: #525252;
  color: #fff;
}

.form-item-text__error-blank, .form-item-email__error-blank, .form-item-tell__error-blank {
  display: none;
  position: relative;
  width: 200px;
  padding: 2px 10px;
  color: #fff;
  background-color: #333333;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}

.form-item-text__error-blank::before, .form-item-email__error-blank::before, .form-item-tell__error-blank::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  top: -10px;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #333333 transparent;
  line-height: 0px;
  _border-color: #000000 #000000 #333333 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.form-item-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 423px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10px;
}

@media screen and (max-width: 376px) {
  .form-item-radio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
  cursor: pointer;
}

@media screen and (max-width: 376px) {
  .radio-container {
    margin-top: 14px;
  }
  .radio-container:first-child {
    margin-top: 3px;
  }
}

.radio-container__input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.radio-container__input:checked + .radio-container__part::after {
  content: "";
  margin: 3px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #333333;
  border-radius: 50%;
}

.radio-container__part {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20px;
  height: 20px;
  border: 1px solid #333333;
  border-radius: 50%;
  vertical-align: sub;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.radio-container__part[data-dark='dark'] {
  border-color: #D0D0D0;
  background-color: #525252;
}

.radio-container__part[data-dark='dark']::after {
  background: #ffffff !important;
}

.radio-container__text {
  font-family: YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
  margin: 0 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.radio-container__text[data-dark='dark'] {
  color: #D0D0D0;
}

.form-item-content__input {
  max-width: 700px;
  width: 100%;
  height: 212px;
  resize: vertical;
  padding: .8em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form-item-content__input[data-dark='dark'] {
  background: #525252;
  border: 1px solid #D0D0D0;
  color: #ffffff;
}

.form-item-content__error-blank {
  display: none;
  position: relative;
  width: 200px;
  padding: 2px 10px;
  color: #fff;
  background-color: #333333;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}

.form-item-content__error-blank::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  top: -10px;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #333333 transparent;
  line-height: 0px;
  _border-color: #000000 #000000 #333333 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.form-item-check {
  margin-top: 42px;
}

@media screen and (min-width: 769px) {
  .form-item-check {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .form-item-check {
    text-align: center;
  }
}

@media screen and (max-width: 376px) {
  .form-item-check {
    text-align: left;
    display: inline-block;
  }
}

@media screen and (max-width: 376px) {
  .form-item-check__text {
    font-size: 12px;
    text-align: left;
    font-family: YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
  }
}

.form-item-check__error-blank {
  display: none;
  position: relative;
  width: 200px;
  padding: 2px 10px;
  color: #fff;
  background-color: #333333;
  font-weight: bold;
  font-size: 14px;
  margin: 10px auto 0 auto;
}

.form-item-check__error-blank::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  top: -10px;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #333333 transparent;
  line-height: 0px;
  _border-color: #000000 #000000 #333333 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.privacy-content {
  display: block;
  max-width: 700px;
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #333333;
}

@media screen and (min-width: 769px) {
  .privacy-content {
    height: 252px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 768px) {
  .privacy-content {
    height: 226px;
    line-height: 1.5;
    font-family: YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
  }
}

@media screen and (max-width: 376px) {
  .privacy-content {
    font-size: 14px;
    line-height: 1.714;
  }
}

.privacy-content[data-dark="dark"] {
  color: #ffffff;
  background-color: #525252;
  border: 1px solid #D0D0D0;
}

.form-item-check {
  position: relative;
  cursor: pointer;
}

.form-item-check__input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.form-item-check__input:checked + .form-item-check__part {
  background: #333333;
}

.form-item-check__input:checked + .form-item-check__part::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-color: #fff;
}

.form-item-check__part {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #333333;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form-item-check__part::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 10px;
  margin-left: 6px;
  border: 3px solid transparent;
  border-top: transparent;
  border-left: transparent;
  -webkit-transition: all .3s .1s;
  transition: all .3s .1s;
}

.form-item-check__part[data-dark='dark'] {
  border-color: #D0D0D0;
  background: #525252;
}

.form-item-check__text {
  margin-left: 10px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */